<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.traderpro.thanhvt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.activeandroid.app.Application"
        android:theme="@style/AppTheme">

        <!-- <activity -->
        <!-- android:name=".TraderProActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name=".ScrollingActivity"
            android:label="@string/cryptoanalyst"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Firebase Notifications -->
        <service android:name="com.traderpro.GCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.traderpro.GCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
        <!-- <service -->
        <!-- android:name=".DetectSignalService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->

        <receiver
            android:name=".BuyIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.action.buy" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootCompletedIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <!-- <activity -->
        <!-- android:name=".ScrollingActivity" -->
        <!-- android:label="@string/title_activity_scrolling" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <activity android:name=".SettingsPrefActivity" />
        <activity android:name=".ReportActivity" />
        <activity
            android:name=".TradeApiActivity"
            android:label="@string/title_activity_api_trade" />
        <activity
            android:name=".BidAskActivity"
            android:launchMode="standard" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".DetectSignalService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.traderpro.GCM.FirebaseDataReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CauHinhActivity"
            android:label="Settings"
            android:theme="@style/AppTheme.SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.traderpro.thanhvt.ScrollingActivity" />
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="TraderPro.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.traderpro.thanhvt.NotificationEntityDB" />

    </application>

</manifest>